/* ------------------------------------------------- General */
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');

.mountain_font {
    font-family: 'Mountains of Christmas', cursive;
     }

html,
body {
   color: #47525E;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #eeeeee;
   width: 100%;
    }

main {
    flex: 1 0 auto;
    }

h1 {
    margin-top: 0rem;
    }

p {
    font-size: 18px;
    }

.text-orange {
    color: #FF9052;
    }

a {
    color: #FF9052 }

.btn {
    margin-top: 1rem;
    width: 14rem;
    }

a.btn {
    color: white;
    }

.material-icons.gold-star {
    color: #FFD700
    }

.material-icons.black {
    color: #000000;
    }

.row {
    margin-bottom: 0px;
    }

/* ------------------------------------------------- Material overrides */
.material-icons.gold-star {
    color: #FFD700
    }

.material-icons.black {
    color: #000000;
    }

.waves-effect.waves-orange {
    background-color: #FF9052;
    }

.waves-effect.waves-red {
    background-color: #EF6666;
    }

.waves-effect.waves-yellow {
    background-color: #FFB96C;
    }

/* ------------------------------------------------- Background colour */
.bg-light-green {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    }

/* ------------------------------------------------- Navigation */
nav {
    margin-bottom: 0px;
    background-color: #CDE8D9;
    height: 80px;
    line-height: 80px;
    font-size: 1.5rem;
    }

nav ul a {
    font-size: 1.5rem;
    color: #47525E;
    }

img.brand {
    width: 10.8rem;
    }

nav .button-collapse i {
        line-height: 74px;
        }

/* ------------------------------------------------- Logo */
img#logo-login {
    width: 5.5rem;
    display: inline-block;
    }

span.logo-header {
    padding-right: 5rem;
    font-size: 4.2rem;
    }

.logo-container {
    margin-top: 2rem;
    }

/* ------------------------------------------------- Landing Picture */
#landing-picture {
    width: 100%;
    height: 25rem;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    }

/*-------------------------------------------------- Pages*/
.page-title {
    margin-top: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px #696969
    }

.training-type-title {
    margin-bottom: 0rem;
    }

.form-bottoms {
    margin-top: 3rem;
    }

#sign_up {
    display: none;
    }

.flask-msg-red {
  margin-bottom: 0.5rem;
  color: red;
  }

#chart_ms_meal_time {       /* Display block is default for charts inside img elements */
    display: block;
    }

#chart_ms_training_type {
    display: block;
    }

#chart_other_meal {       /* Display none is default for charts inside img elements */
    display: none;
    }

#chart_other_training {
    display: none;
    }
/* ------------------------------------------------- Cards */
.recipe_details {
    display: inline-block;
    margin-bottom: 1rem;
    }

p.detail_link {
    font-size: 20px;
    text-shadow: 1px 1px #696969
    }

img.recipe_image {
    width: 18rem;
    }

img.training_image {
    height: 250px;
    }

.card-panel {
    margin-top: 0rem;
    }

.training-title {
    padding: 4.5rem;
    text-shadow: 1px 1px #696969
    }

.card {
    top: 3rem;
    margin-bottom: 5rem;
    }

/*-------------------------------------------------- Charts*/
.chart {
    margin-bottom: 1rem;
    padding: 1rem;
    }

/*-------------------------------------------------- Footer*/
.footer-container {
    background-color: #4c4c4c;
    padding: 15px;
    text-align: center;
    }
.copyright {
    margin-top: 0.5rem;
    }

.copyright a {
    color: #fff;
    }

.social-bg {
    background-color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 2rem;
    display: inline-block;
    }

.social-links a {
    color: #000;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    }

.social-links a .fa-facebook-f:hover {
    color: #3b5998;
    }

.social-links a .fa-instagram:hover {
    color: #833AB4;
    }

.social-links a .fa-twitter:hover {
    color: #1da1f2;
    }

/*---------------------------------------------------------------------------------------Media Queries*/
@media (max-width: 420px) {
    h1 {
        font-size: 3rem;
        }
    .row .col {
        padding: 0px;
        }
    img#logo-login {
        width: 5rem;
        }

    span.logo-header {
        padding-right: 0rem;
        }
}

/*---------------------------------------------------------------------------------------Bootstrap Media Queries*/
@media (min-width: 576px) {
  .float-sm-none {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .float-md-right {
    float: right !important;
  }

}


