<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Meat Free cookbook for athletes">
    <meta name="keywords" content="Meat Free">
    <meta name="author" content="Anthony Nicklin">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--GoogleFonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/mf-favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/mf-favicon.ico') }}" type="image/x-icon">

    <title>
    {% if title %}
      {{ title.title() }} | Meat Free{% else %}Welcome to Meet Free
    {% endif %}
    </title>

</head>


<body>

    <!-- Navigation -->
    <header>

        <!-- Medium to large screen Navbar -->
        <div class="navbar-fixed">
            <nav>

                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo">
                        <img class="brand" src="{{ url_for ('static', filename='images/meat_free_logo_green.png') }}" alt="Meat Free Logo">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">HOME</a></li>
                        <li><a href="{{ url_for('recipes', field='recipes', type='all') }}">RECIPES</a></li>
                        <li><a href="{{ url_for('add_recipe') }}">ADD RECIPES</a></li>
                        <li><a href="{{ url_for('statistics') }}">STATISTICS</a></li>
                        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                    </ul>
                </div>

            </nav>
        </div>
        <!-- End medium to large screen Navbar -->

        <!-- Mobile Navbar -->
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('recipes', field='recipes', type='all') }}">RECIPES</a></li>
            <li><a href="{{ url_for('add_recipe') }}">ADD RECIPES</a></li>
            <li><a href="{{ url_for('statistics') }}">STATISTICS</a></li>
            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
        </ul>
        <!-- End mobile Navbar -->

    </header>
    <!--End of header and Navigation-->

    <!-- Block for any landing pictures -->
    <section>
        {% block landing %}{% endblock %}
    </section>
    <!-- End landing -->

    <!--Main -->
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- End Main -->

    <!--Footer-->
    <footer class="page-footer footer-container">
        <div class="container">
            <div class="social-links">

                <a href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
                </a>
                <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
                </a>

            </div>
            <!--./social-links-->

            <div class="copyright">
                <a href="https://github.com/AnthonyNicklin" target="_blank">&copy;2019 Anthony Nicklin</a>
            </div>
            <!--./copyright-->

        </div>
        <!--./container-->
    </footer>
    <!--End of footer-->

    <!-- Scripts -->
    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for ('static', filename='js/custom.js') }}"></script>


    <script>
        $(document).ready(function(){
            $(".dropdown-trigger").dropdown({ constrainWidth: false });
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.modal').modal();
        });
    </script>

</body>
</html>