<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Meat Free cookbook for athletes">
    <meta name="keywords" content="Meat Free">
    <meta name="author" content="Anthony Nicklin">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--GoogleFonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/mf-favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/mf-favicon.ico') }}" type="image/x-icon">

    <title>
    {% if title %}
      {{ title }} | Meat Free{% else %}Welcome to Meet Free
    {% endif %}
    </title>

</head>

<body>

    <main>
        <div class="bg-light-green">
            <div class="container">

                <div class="center-align logo-container">
                    <span><img id="logo-login" src="{{ url_for ('static', filename='images/carrot_logo.png') }}" alt="Meat Free Logo"></span>
                    <span><h1 class="mountain_font logo-header">Meat Free</h1></span>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12">

                        <div id='login' class="card-panel">

                            <form action="{{ url_for('login') }}" method="POST">
                                <h1 class="center-align">Login</h1>
                                <p class="center-align">Login to access recipes for vegetarian athletes and contribute to our ever growing community</p>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate" id="login_username" name="username" required>
                                        <label for="login_username">Username</label>
                                    </div>
                                </div>

                                <div class="flask-msg-red">
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            <ul>
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                <button type="submit" class="waves-effect waves-orange btn">Submit</button>
                                <p>Don't have an account? Please <a href="javascript:void(0);" id="sign_up_link"> Sign up</a> here.</p>


                            </form>

                        </div>
                    </div>
                </div>

                 <div id='sign_up' class="card-panel">

                            <form action="{{ url_for('create_user') }}" method="POST">
                                <h1 class="center-align">Sign Up</h1>
                                <p class="center-align">Create an account so you can view and add amazing meat-free recipes!</p>

                                <div class="row">
                                    <div class="input-field col s12 m12 l6">
                                        <input type="text" class="validate" id="first-name" name="first-name" required>
                                        <label for="first-name">First Name</label>
                                    </div>
                                    <div class="input-field col s12 m12 l6">
                                        <input type="text" id="last-name" name="last-name">
                                        <label for="last-name">Last Name</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="sign_up_username">Username</label>
                                        <input type="text" class="validate" id="sign_up_username" name="username" required>
                                    </div>
                                </div>

                                 <div class="flask-msg-red">
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            <ul>
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                <button type="submit" class="waves-effect waves-orange btn">Submit</button>
                                <p>Already have an account? Please <a href="javascript:void(0);" id="login_link"> Login</a> here.</p>

                            </form>
                        </div>

            </div>
        </div>
    </main>

    <!-- Scripts -->
    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for ('static', filename='js/custom.js') }}"></script>

</body>
</html>

