{% extends 'base.html' %}

{% block content %}
<main>
    <div class="background">
        <div class="container">
            {% for rec in recipe %}

            <div class="row">
                <div class="col s12">
                    <div class="card">

                        <div class="card-content">
                            <span class="card-title center-align"><b>{{ rec.name_of_recipe }}</b></span>
                            <br>

                            <p class="center-align">{{ rec.description }}</p>
                            <br>
                            <br>
                            <div class="row">
                                <div class="recipe_details center-align col s3">
                                    <p><b>Difficulty</b></p>
                                    <p>{{ rec.difficulty.title() }}</p>
                                </div>
                                <div class="recipe_details center-align col s3">
                                    <p><b>Time to make</b></p>
                                    <p>{{ rec.time_to_make }}</p>
                                </div>
                                <div class="recipe_details center-align col s3">
                                    <p><b>Rating</b></p>
                                    <p><i class="material-icons gold-star">star</i>{{ rec.rating }}</p>
                                </div>
                                <div class="recipe_details center-align col s3">
                                    <p><b>Serves</b></p>
                                    <p>{{ rec.serves }}</p>
                                </div>
                            </div>

                            <div class="row">
                                 <div class="center-align col s12">
                                     <p class="detail_link"><a href="{{ url_for('recipe_detail', recipe_id=rec._id) }}">
                                         Click for full recipe</a></p>
                                 </div>
                            </div>

                        </div>

                    </div>
                    <!--./card -->
                </div>
                <!--./col s12-->
            </div>
            <!--./row-->

            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}