{% extends 'base.html' %}

{% block content %}

<br>
<h1 class="page-title mountain_font text-orange">STATISTICS</h1>

<div class="row">

     <div class="float-sm-none float-md-right col s12 m5 center-align">
        <h3>Meal Times</h3>
        <p>The pie chart shows you how many recipes there are per meal time.</p>
    </div>

    <div class="chart col s12 m7">
        <img type="image/svg+xml" src="{{ pie_chart|safe }}" alt="Meal Time Chart"/>
    </div>

</div>

<br>

<div class="row">
    <div class="col s12 m5 center-align">
        <h3>Training Types</h3>
        <p>This bar chart shows you how many recipes there are per training type.</p>
    </div>
    <div class="chart col s12 m7">
        <img type="image/svg+xml" src="{{ line_chart|safe }}" alt="Training Type Chart"/>
    </div>
</div>

{% endblock %}